<footer class="page-footer orange">
  <div class="container">
    <div class="row">
      <div class="footer-logo"></div>
    </div>
    <div class="row">

      <div class="col l4 s12">
        <h5></h5>
        <p class="grey-text text-lighten-4">Blue Cross Blue Shield of Massachusetts is an Independent Licensee of the Blue Cross and Blue Shield Association.</p>
      </div>

      <div class="col l4 s12">
        <h5></h5>
        <ul>
          &reg; Registered Marks of the Blue Cross and Blue Shield Association.
        </ul>
      </div>

      <div class="col l4 s12">
        <h5></h5>
        <ul>
          &copy; 2018 Blue Cross and Blue Shield of Massachusetts, Inc., and Blue Cross and Blue Shield of Massachusetts HMO Blue,
          Inc.
        </ul>
      </div>
      <div class="col l12 s12">
        <h5></h5>
        <ul>101 Huntington Avenue, Suite 1300, Boston, MA 02199-7611 | 800-262-BLUE (2583)</ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="socialNav">
        <span style="padding-right: 7px; width: 22px;">
          <a target="_blank" href="http://www2.bluecrossma.com/social/welcome.php?social-redirect=facebook" style="margin-right: 0px;">
            <img height="18" alt="Like us on Facebook" src="assets/pngs/icon-facebook.png" style="width: 22px; height: 22px; padding-top: 0px; border-bottom-width: 10px;">
          </a>
        </span>
        <!-- END SOCIAL ICON FACEBOOK -->
        <span style="padding-right: 7px;">
          <a target="_blank" href="http://www2.bluecrossma.com/social/welcome.php?social-redirect=twitter" style="margin-right: 0px;">
            <img alt="Follow us on Twitter" src="assets/pngs/icon-twitter.png" style="width: 22px; height: 22px; padding-top: 0px;">
          </a>
        </span>
        <!-- END SOCIAL ICON TWITTER -->
        <span style="padding-right: 7px; width: 22px;">
          <a target="_blank" href="http://www2.bluecrossma.com/social/welcome.php?social-redirect=linkedin" style="margin-right: 0px; width: 22px;">
            <img alt="Join us on LinkedIn" src="assets/pngs/icon-linkedin.png" style="width: 22px; height: 22px;">
          </a>
        </span>
        <!-- END SOCIAL ICON LINKEDIN -->
        <span>
          <a target="_blank" href="http://www2.bluecrossma.com/social/welcome.php?social-redirect=youtube" style="margin-right: 0px;">
            <img alt="Watch our YouTube channel" src="assets/pngs/icon-youtube.png" style="width: 22px; height: 22px;">
          </a>
        </span>
        <!-- END SOCIAL ICON YOUTUBE -->
      </div>
    </div>
  </div>
</footer>